{% extends "layout.html" %}
{% block content %}

<header>
	<h1 class="logo">Email Validator</h1>
</header> 

<form action="{{url_for('main_view')}}" method=post role="form">
	<label for="input">Emails (each email must be separated with a new line):</label>
	<textarea class="form-control" name="input" rows="5" required></textarea>
	</br>
	<button type="submit" class="btn btn-success">Check</button>
</form>
</br>

{% if invalids or valids or suggests %}
<div class='pull-right'><a href='#' class='export'>Export to CSV</a></div>
<div class=''>
	<table class="table table-hover" id='validator'>
		<thead>
			<tr>
				<th>Email</th>
				<th>Status</th>
				<th>Suggested</th>
			</tr>
		</thead>
		<tbody>
			{% for i in range(valid_length) %}
				<tr>
					<td>{{valids[i]}}</td>
					<td id='valid'>Valid</td>
					<td></td>
				</tr>
			{% endfor %}
			{% for i in range(invalid_length) %}
				<tr>
					<td>{{invalids[i]}}</td>
					<td id='invalid'>Invalid</td>
					<td>{{suggests[i]}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %} 

<style type='text/css'>
	#valid {
		color:green;
	}
	#invalid {
		color:red;
	}
	#suggest {
		color:blue;
	}
</style>

  <script type="text/javascript"> 

    // This must be a hyperlink
    $(".export").on('click', function (event) {
        // CSV
        window.location.href = 'data:text/csv;charset=UTF-8,' 
            + tableToCSV('#validator');
        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });

    </script>


{% endblock %}